asgiref==3.6.0
attrs==22.2.0
backports.zoneinfo;python_version<"3.9"
cattrs==22.2.0
certifi==2023.7.22
charset-normalizer==3.1.0
Django==4.1.13
django-cors-headers==3.14.0
exceptiongroup==1.1.1
idna==3.7
imutils==0.5.4
numpy==1.26.0
opencv-python==4.8.1.78
platformdirs==3.1.1
requests==2.32.0
requests-cache==1.0.0
six==1.16.0
sqlparse==0.5.0
url-normalize==1.4.3
urllib3==1.26.17
setuptools